.fart-title{
    font-family: Jokerman, sans-serif;
}

.fart-rand-button{
    background: white;
    color: black;
    border-radius: 20px;
    font-family: Jokerman, sans-serif;
    font-size: x-large;
}