/*.dashboard > svg{*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    width: auto;*/
/*    height: 90%;*/
/*    z-index: 0;*/
/*}*/

/*.dashboard > textarea{*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%, -40%);*/
/*    width: 55%;*/
/*    height: 66%;*/
/*    border: none;*/
/*    resize: none;*/
/*    border-radius: 5px;*/
/*    z-index: 1;*/
/*}*/

.dashboard{
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 650px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width:480px){
    .dashboard{
        position: relative;
        height: 443px;
    }
}

.dash-intro{
    font-family: Jokerman, sans-serif;
}

.dash-note{
    font-family: Arial, serif;
    font-size: medium;
}

.dash-buttons > button{
    font-family: Jokerman, sans-serif;
    background: white;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}