.weather-title{
    font-family: Jokerman, sans-serif;
}

.weather-card-box{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    width: 1300px;
    height: auto;

    padding-top: 25px;
    padding-bottom: 25px;

}