.design-button{
    margin-left: 10px;
}

.design-button > svg{
    height: 10vmin;
}

.list{
    display: flex;
    justify-content: center;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
}

.menu-button{
    height: 60px;
    width: auto;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;

}

.menu-button:active{
    transform: scale(1.1);
}