.design-button{
    margin-left: 40px;
}

.design-button > svg{
    height: 10vmin;
}

.list{
    display: flex;
    justify-content: center;
    margin-top: 5vmin;
}

.menu-button{
    height: 55px;
    width: 250px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.menu-button:active{
    transform: scale(1.1);
}