.Enter{
    height: 10vmin;
    animation: vibrate 0.3s linear infinite;
}

@media (max-width: 700px) {
    .Enter{
        height: 15vmin;
        animation: vibrate 0.3s linear infinite;
    }
}

@keyframes vibrate {
    from { transform: translateY(2px)}
    to { transform: translateY(-2px)}
}